@use "../../../../assets/styles/nuclides/colors";
@use "../../../../assets/styles/nuclides/fonts";

.hero {
  @import "prismjs/themes/prism-okaidia.css";
}

.hero .code {
  @include fonts.monospace();
  background-color: colors.$color--blackish;
  display: block;
  white-space: pre;
  color: white;
  padding: 1em;
  .token.variable {
    color: #66d9ef;
  }
}


code {
  @include fonts.monospace();
  background-color: #f9f9f9;
  display: block;
  white-space: pre;
  color: colors.$color--dark-gray;
  padding: 15px;
  margin: 2em 0;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 1px #e8e8e8;
}

.language-nucleus {
  color: colors.$color--light-gray;

  .token.docblock {
    color: colors.$color--gray;
  }

  .token.annotation {
    color: colors.$color--pink;
  }

  .token.value {
    color: red;
  }
}
