@use "../../../../assets/styles/nuclides/tools";
@use "../nuclides/breakpoints";

/**
 * @structure Feature list
 * @section Landing-Page
 * @markup
 *  <div class="feature-list">
 *    @{include:.feature}
 *    @{include:.feature}
 *    @{include:.feature}
 *    @{include:.feature}
 *  </div>
 */
.feature-list {
  @include tools.clearAfter();
  margin: 100px 0 50px 0;
  padding: 0;

  .feature {
    float: left;
    width: 22%;

    &:not(:last-of-type) {
      margin-right: 1%;
    }

    @include breakpoints.mq($until: mobile) {
      width: 100%;
    }

    @include breakpoints.mq($from: mobile, $until: tablet) {
      width: 50%;
    }
  }
}
