@use "../nuclides/breakpoints";

.SG-layout--two-columns {

  @include breakpoints.mq($until: tablet) {
    .SG-layout__sidebar, .SG-layout__content {
      float: none;
      width: 100%;
    }
  }
}
