$nucleus-breakpoints: (
        tiny: 350px,
        mobile:  425px,
        tabletPortrait:  597px,
        tablet: 768px,
        desktop: 980px,
        wide:    1300px,
);

@use 'sass-mq' as * with (
        $breakpoints: $nucleus-breakpoints
);

body::before {
  opacity: 0.3;
}
