@font-face {
    font-family: "icons";
    src: url("./icons.ttf?adb68a69b1f977f52ed09b976f04463c") format("truetype"),
url("./icons.eot?adb68a69b1f977f52ed09b976f04463c#iefix") format("embedded-opentype"),
url("./icons.woff?adb68a69b1f977f52ed09b976f04463c") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\ea01";
}
.icon-github:before {
    content: "\ea03";
}
.icon-tools:before {
    content: "\ea04";
}
.icon-molecule:before {
    content: "\ea05";
}
.icon-rescue:before {
    content: "\ea06";
}
.icon-search:before {
    content: "\ea07";
}
.icon-glide:before {
    content: "\ea08";
}
